<nav class="navbar navbar-expand-lg navbar-dark bg-dark bottom">
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="mx-auto order-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ricardobr001" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="ricardobr001"><i class="fab fa-github fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:ricardomlealjr@gmail.com" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="ricardomlealjr@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/ricardomlealjr/" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="Ricardo Mendes Leal Junior"><i class="fab fa-linkedin fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://last.fm/user/ricardobr001" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="ricardobr001"><i class="fab fa-lastfm-square fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/ricardo.mendes.98031" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="Ricardo Mendes"><i class="fab fa-facebook fa-2x"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://steamcommunity.com/id/ricardo-miley/" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="Tanjal"><i class="fab fa-steam-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <span class="navbar-text text-center">
                        Formado em Ciência da Computação na <a href="https://www.sorocaba.ufscar.br/" target="_blank">UFSCar Sorocaba</a>.
                        <br>
                        Atualmente desenvolvedor na <a href="https://gamersclub.com.br/" target="_blank">Gamers Club</a>.
                    </span>
                </li>

            </ul>
        </div>
    </div>
</nav>