<div id="subroute">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <p>Bem vindo ao meu portfolio!!</p>
                <p>
                    Jogo alguns games, como Fortnite, Overwatch, League of Lengends (Riven) e às vezes um CS:GO.
                    No momento estou nos finalmentes da graduação em Ciência da Computação na UFSCar - Sorocaba e faço
                    estágio na Cielo.
                </p>
                <p>
                    Gosto bastante de programar e atualmente estou trabalhando com Angular, além de gostar de um bom
                    <b>Rock \,,/</b>, aqui tem uma <a target="_blank"
                        href="https://open.spotify.com/user/12142505492/playlist/5QmwrB8phhRSwBNZ9mZ30z?si=uwXsA9CQQji9NTyQeg2WsA">playlist</a>
                    com umas músicas que eu curto caso você tenha interesse. =)
                </p>
                <p>
                    Tenho conhecimento em algumas linguagens de programação, como C, Java, Python <i
                        class="fas fa-heart" style="color: red;"></i> e TypeScript/JavaScript.
                </p>
            </div>
            <div class="col-3">
                <img class="circle-img" src="../../assets/img/me.jpg">
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Um pouco da minha trajetória</h4>
                <ul class="timeline">
                    <li>
                        <a target="_blank" href="https://www.sorocaba.ufscar.br/">UFSCar Sorocaba</a>
                        <p class="float-right">2015 - 2018</p>
                        <p>Na universidade fiz parte do centro acadêmico, ajudei na organização da Semana da Computação
                            (SeCoT) além de ter feito um estudo acompanhado e dado monitoria, mais detalhes se encontram
                            no meu <a routerLink="/cv">Currículo</a>.</p>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.cielo.com.br">Estágio - Cielo</a>
                        <p class="float-right">2018 - 2019</p>
                        <p>Durante o estágio tive contato com muitas coisas novas, tanto na área de infraestrutura, onde
                            conheci mais a fundo a base dos sistemas de TI e também um pouco de automação com <a
                                target="_blank" href="https://www.ansible.com">Ansible</a>.</p>
                        <p>Também conheci mais a fundo a parte de desenvolvimento enquanto estava na área de aplicação,
                            tendo contato com <a target="_blank" href="https://nodejs.org/en/">NodeJS</a> e <a
                                target="_blank" href="https://angular.io">Angular</a>.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>