<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <p>Bem vindo ao meu portfolio!!</p>
            <p>
                Jogo alguns games, como Fortnite, Overwatch, League of Lengends (Riven) e às vezes um CS:GO.
                No momento estou nos finalmentes da graduação em Ciência da Computação na UFSCar - Sorocaba e faço estágio na Cielo.
                Gosto bastante de programar e atualmente estou trabalhando com Angular, além de gostar de um bom <b>Rock \,,/</b>, 
                jogar uns games nas horas vagas.
                Tenho conhecimento em algumas linguagens de programação, como C, Java, Python e TypeScript.
            </p>
        </div>
        <div class="col-3">
            <img class="circle-img" src="../../assets/img/me.jpg">
        </div>
    </div>
</div>