<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav justify-content-center d-flex flex-fill text-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about"><i class="fas fa-user fa-lg"></i><br>Sobre mim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listening"><i class="fas fa-volume-up fa-lg"></i><br>Ouvindo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cv"><i class="fas fa-portrait fa-lg"></i><br>Currículo</a>
            </li>
        </ul>
    </div>
</nav>